<div class="container main-container">
<div class="row">
    <ul class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home"></i></a></li>
        <li><a href="">Mail</a></li>
    </ul>

    <h3 class="text-center" >MAIL</h3>
    

        <div class="mail-env">
            <!-- compose new email button -->
            <div class="mail-sidebar-row visible-xs">
                <a href="/compose" class="btn btn-success btn-icon btn-block">
                    New message
                    <i class="entypo-pencil"></i>
                </a>
            </div>
            <!-- Mail Body -->
            <div class="mail-body">
                
                <div class="mail-header">
                    <!-- title -->
                    <h3 class="mail-title">
                        Inbox
                        <span class="count"></span>
                    </h3>
                    
                </div>
                
                
                <!-- mail table -->
                <table class="table mail-table">
                    <!-- mail table header -->
                    <thead>
                        <tr>
                            <th width="5%">
                                <div class="checkbox checkbox-replace">
                                    <input type="checkbox" />
                                </div>
                            </th>
                            <th colspan="4">
                                
                                <div class="mail-select-options">Mark as Read</div>
                                
                                <div class="mail-pagination" colspan="2">
                                    <strong>1-30</strong> <span>of {{countall}}</span>
                                    
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-sm btn-white"><i class="entypo-left-open"></i></a>
                                        <a href="#" class="btn btn-sm btn-white"><i class="entypo-right-open"></i></a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    
                    <!-- email list -->
                    <tbody>
                        {{#each mail}}
                        <tr {{#if isread }} {{else}} class="unread" {{/if}}><!-- new email class: unread -->
                            <td>
                                <div class="checkbox checkbox-replace">
                                    <input type="checkbox" />
                                </div>
                            </td>
                            <td class="col-name">
                                <a href="/maildetail/{{id}}" class="col-name">{{username}}</a>
                            </td>
                            <td class="col-subject">
                                <a href="/maildetail/:{{id}}">
                                    {{title}}
                                </a>
                            </td>
                            <td class="col-options"></td>
                            <td class="col-time">{{created_at}}</td>
                        </tr>
                        {{/each}}
                        
                        
                    </tbody>
                    
                    <!-- mail table footer -->
                    <tfoot>
                        <tr>
                            <th width="5%">
                                <div class="checkbox checkbox-replace">
                                    <input type="checkbox" />
                                </div>
                            </th>
                            <th colspan="4">
                                
                                <div class="mail-pagination" colspan="2">
                                    <strong>1-30</strong> <span>of {{countall}}</span>
                                    
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-sm btn-white"><i class="entypo-left-open"></i></a>
                                        <a href="#" class="btn btn-sm btn-white"><i class="entypo-right-open"></i></a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            
            <!-- Sidebar -->
            <div class="mail-sidebar">
                
                <!-- compose new email button -->
                <div class="mail-sidebar-row hidden-xs">
                    <a href="/compose" class="btn btn-success btn-icon btn-block">
                        New message
                        <i class="entypo-pencil"></i>
                    </a>
                </div>
                
                <!-- menu -->
                <ul class="mail-menu">
                    <li class="active">
                        <a href="/mailbox">
                            <span class="badge badge-danger pull-right"></span>
                            Inbox
                        </a>
                    </li>
                    
                    <li>
                        <a href="/sentbox">
                            <span class="badge badge-gray pull-right"></span>
                            Sent
                        </a>
                    </li>
                    
                    <li>
                        <a href="/listfriend">
                            List Friends
                        </a>
                    </li>
                    
                </ul>
                
                <div class="mail-distancer"></div>
                
                
                
            </div>
        </div>

    
</div>

</div>