<div class="container main-container">
<div class="row " style="padding-top:40px;">
    <ul class="breadcrumb">
        <li><a href="home"><i class="fa fa-home"></i></a></li>
        <li><a href="">Users</a></li>
    </ul>
    <h3 class="text-center" >MAILBOX</h3>
    <br /><br />
    <div class="col-md-2"></div>
    <div class="col-md-10 ">
          <div class="panel panel-primary">
            <div class="panel-heading">
               USERS
            </div>
            <div class="panel-body">
                <ul class="media-list">
                               {{#each users}}
                                    <li class="media">

                                        <div class="media-body">
                    
                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                </a>
                                                <form action="/addfriend" method="post">
                                                <div class="media-body" >
                                                   <input class="idText" type="hidden" name="id" value="{{id}}">
                                                   <h5>{{name}}</h5>
                                                   <small class="text-muted">{{username}}</small>
                                                   <small class="text-muted">- {{phone}}</small>
                                                   <div class="pull-right">
                                                        <button button-add="addfriend_btn" type="submit" class = "btn btn-success " data-toggle="tooltip" data-placement="top" title="Add Friends" id="addfriend">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                </form>
                                           

                                            </div>

                                        </div>
                                    </li>
                                {{/each}}
                             {{#each friend}}
                                  <li class="media">

                                            <div class="media-body">
                        
                                                <div class="media">
                                                    <a class="pull-left" href="#">
                                                        <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                    </a>
                                                    <form action="/removefriend" method="post">
                                                    <div class="media-body" >
                                                       <h5>{{name}}</h5>
                                                       <input class="idText" type="hidden" name="id" value="{{id}}">
                                                       <small class="text-muted">{{username}}</small>
                                                       <small class="text-muted">- {{phone}}</small>
                                                       <div class="pull-right">
                                                          <button button-remove="removeFriend" type="submit" class = "btn btn-danger " data-toggle="tooltip" data-placement="top" title="Romove Friends" >
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                          </button>
                                                          <button button-send="sendMail"  type="button" class="btn btn-success" data-toggle="modal" data-target="#enquirypopup" title="Send Mail">
                                                              <span class="glyphicon glyphicon-envelope one"></span>
                                                          </button>
                                                       </div>
                                                    </div>
                                                    </form>

                                                </div>

                                            </div>
                                        </li>
                          {{/each}}
                    
                </ul>
            </div>
        </div>
        
    </div>
</div>
</div>